@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fc-today-bg-color: transparent;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 2rem;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fc th {
    text-transform: capitalize;
}

.fc .fc-event {
    border-width: 3px;
}

/* Jobb oldalt a rés megszűntetése */
.fc .fc-timegrid-col-events {
    margin-right: 2px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h3 {
    font-size: 1rem;
    line-height: 1;
}

.card {
    padding: 2em;
}
